[% IF bodyclass.match('frontpage') %]
    <div id="report-now">
        <svg width="60" height="53" viewBox="0 0 60 53" xmlns="http://www.w3.org/2000/svg"><g fill="none" fill-rule="evenodd"><path d="M56 53a4 4 0 0 0 3.5-6l-26-45a4 4 0 0 0-6.9 0L.6 47A4 4 0 0 0 4 53h52z" fill="#EC1D24"/><path fill="#FFF" d="M53.6 47.6H6.3l23.6-41z"/><path d="M30 16c-2.5 0-4.6 1.9-4.6 4.4 0 .7.2 1.1.2 1.1L29.4 37h1l4-15.5.1-1c0-2.6-2.1-4.6-4.6-4.6zM30 45.8a3.5 3.5 0 1 1 0-7 3.5 3.5 0 0 1 0 7z" fill="#000" fill-rule="nonzero"/></g></svg>
        <p>Tap here to report a cycling incident or near-miss that’s just
        happened, and we’ll email you later with guidance on what to do.</p>
    </div>
    <form action="/import" method="POST" id="report-now-form">
        <input type="hidden" name="web" value="1">
        <input id="report-now-latitude" type="hidden" name="lat">
        <input id="report-now-longitude" type="hidden" name="lon">
        <input type="hidden" name="subject" value="report now">
        <input type="hidden" name="service" value="front-button">
        <p>
            <label for="form_name">Name</label>
            <input id="form_name" type="text" name="name" class="form-control required" required>
        </p>
        <p>
            <label for="form_email">Email</label>
            <input id="form_email" type="email" name="email" class="form-control required" required>
        </p>
        <input class="btn" id="form_submit" type="submit" value="Set reminder">
    </form>
[% END %]

<header id="site-header" role="banner">
    <div class="container">
        [% INCLUDE 'header_logo.html' %]
        <a href="#main-nav" id="nav-link">Main Navigation</a>
    </div>
</header>
