[% pre_container_extra = PROCESS 'around/postcode_form.html' %]
[% SET bodyclass = 'frontpage fullwidthpage' %]
[% INCLUDE 'header.html', title = '' %]

[% IF error %]
    <p class="form-error">[% error %]</p>
[% END %]

    </div><!-- close .content role=main -->
  </div><!-- close .container -->

  <div class="front__how-it-works">
    <div class="container">
      <h2>How Collideoscope works</h2>
      <ul class="smidsy-four-column">
        <li class="front__how-it-works__find">
          <span class="circled-icon"><img src="/cobrands/smidsy/images/homepage-icon-find.png" srcset="/cobrands/smidsy/images/homepage-icon-find@2x.png 2x" alt="" width="50" height="50"></span>
          Find a location by postcode, street, or landmark
        </li>
        <li class="front__how-it-works__report">
          <span class="circled-icon"><img src="/cobrands/smidsy/images/homepage-icon-report.png" srcset="/cobrands/smidsy/images/homepage-icon-report@2x.png 2x" alt="" width="50" height="50"></span>
          Tell us a few details about your collision or near-miss
        </li>
        <li class="front__how-it-works__notify">
          <span class="circled-icon"><img src="/cobrands/smidsy/images/homepage-icon-notify.png" srcset="/cobrands/smidsy/images/homepage-icon-notify@2x.png 2x" alt="" width="50" height="50"></span>
          We notify the council’s&nbsp;highways department
        </li>
        <li class="front__how-it-works__change">
          <span class="circled-icon"><img src="/cobrands/smidsy/images/homepage-icon-change.png" srcset="/cobrands/smidsy/images/homepage-icon-change@2x.png 2x" alt="" width="50" height="50"></span>
          And make statistics available to planners and&nbsp;campaigners
        </li>
      </ul>
    </div>
  </div>

  <div class="front__data">
    <div class="container">
      <h2>Need cycling collision data?</h2>
      <p>Collideoscope is building into a massive nationwide archive of data on cycling collisions and near-misses, which you can use for free.</p>
      <p class="front__data__cta">
        <a href="/reports">Browse and download our data</a>
        <small>for campaigners, cyclists, and road safety experts</small>
      </p>
      <p>As well as our users’ reports, our statistics and maps also include police STATS19 data, for a comprehensive visualisation of cycling incidents.</p>
    </div>
  </div>

  <!-- open a new .container and div for footer.html to close -->
  <div class="container hidden">
    <div>

[% INCLUDE 'footer.html' %]
