[% pre_container_extra = PROCESS 'around/postcode_form.html' %]
[% SET bodyclass = 'frontpage fullwidthpage' %]
[% INCLUDE 'header.html', title = '' %]

[% IF error %]
    <p class="form-error">[% error %]</p>
[% END %]

    </div><!-- close .content role=main -->
  </div><!-- close .container -->

  <div class="front__how-it-works">
    <div class="container">
      <h2>How Collideoscope works</h2>
      <ul class="smidsy-four-column">
        <li class="front__how-it-works__find">
          <span class="circled-icon"><img src="/cobrands/smidsy/images/homepage-icon-find.png" srcset="/cobrands/smidsy/images/homepage-icon-find@2x.png 2x" alt="" width="50" height="50"></span>
          Find a location by postcode, street, or landmark
        </li>
        <li class="front__how-it-works__report">
          <span class="circled-icon"><img src="/cobrands/smidsy/images/homepage-icon-report.png" srcset="/cobrands/smidsy/images/homepage-icon-report@2x.png 2x" alt="" width="50" height="50"></span>
          Tell us a few details about your collision or near-miss
        </li>
        <li class="front__how-it-works__notify">
          <span class="circled-icon"><img src="/cobrands/smidsy/images/homepage-icon-notify.png" srcset="/cobrands/smidsy/images/homepage-icon-notify@2x.png 2x" alt="" width="50" height="50"></span>
          We notify the council’s&nbsp;highways department
        </li>
        <li class="front__how-it-works__change">
          <span class="circled-icon"><img src="/cobrands/smidsy/images/homepage-icon-change.png" srcset="/cobrands/smidsy/images/homepage-icon-change@2x.png 2x" alt="" width="50" height="50"></span>
          And make statistics available to planners and&nbsp;campaigners
        </li>
      </ul>
    </div>
  </div>

  <div class="front__data">
    <div class="container">
      <h2>Need cycling collision data?</h2>
      <p>Collideoscope is building into a massive nationwide archive of data on cycling collisions and near-misses, which you can use for free.</p>
      <p class="front__data__cta">
        <a href="/reports">Browse and download our data</a>
        <small>for campaigners, cyclists, and road safety experts</small>
      </p>
      <p>As well as our users’ reports, our statistics and maps also include police STATS19 data, for a comprehensive visualisation of cycling incidents.</p>
    </div>
  </div>

  <div class="front__why">
    <div class="container">
      <h2>Why use Collideoscope?</h2>
      <div class="squidgy-quote squidgy-quote--blue squidgy-quote--left">
        <img src="/cobrands/smidsy/images/user-amy.jpg" width="80" height="80" alt="">
        <p>I cycle my daughter to school, but the pavement parking round there is a nightmare. After someone almost opened their door right into me, I reported the location on Collideoscope.</p>
        <p>Within a few days, the council arranged for a safety officer to give a talk at the school, and said they’ll be rolling my feedback into their case for introducing a no-parking zone on the school road. Win!</p>
      </div>
      <div class="squidgy-quote squidgy-quote--aquamarine squidgy-quote--right">
        <img src="/cobrands/smidsy/images/user-john.jpg" width="80" height="80" alt="">
        <p>As a cycling campaigner, presenting <em>local data</em> to <em>local decision-makers</em> is super valuable. Before I go to council meetings or protests, I look up the councillors’ wards on Collideoscope, so I can show them the state of cycle safety in their area. They’ve often never seen it presented so clearly! It’s a great conversation starter.</p>
      </div>
      <div class="squidgy-quote squidgy-quote--olive squidgy-quote--left">
        <img src="/cobrands/smidsy/images/user-bex.jpg" width="80" height="80" alt="">
        <p>I’m a confident cyclist, but when a car driver gave me a punishment passing for claiming the lane, I was furious. They’d disappeared before I could take the licence number, but I reported it on Collideoscope, and the site automatically showed me where and how to report it to the local police. Thanks Collideoscope!</p>
      </div>
    </div>
  </div>

  <!-- open a new .container and div for footer.html to close -->
  <div class="container hide-me">
    <div>

[% INCLUDE 'footer.html' %]
