[% pre_container_extra = PROCESS 'around/postcode_form.html' %]
[% SET bodyclass = 'frontpage fullwidthpage' %]
[% INCLUDE 'header.html', title = '' %]

[% IF error %]
    <p class="form-error">[% error %]</p>
[% END %]

    </div><!-- close .content role=main -->
  </div><!-- close .container -->

  <div class="front__how-it-works">
    <div class="container">
      <h2>How Collideoscope works</h2>
      <ul class="smidsy-four-column">
        <li class="front__how-it-works__find">
          <span class="circled-icon"><img src="/cobrands/smidsy/images/homepage-icon-find.png" srcset="/cobrands/smidsy/images/homepage-icon-find@2x.png 2x" alt="" width="50" height="50"></span>
          Find a location by postcode, street, or landmark
        </li>
        <li class="front__how-it-works__report">
          <span class="circled-icon"><img src="/cobrands/smidsy/images/homepage-icon-report.png" srcset="/cobrands/smidsy/images/homepage-icon-report@2x.png 2x" alt="" width="50" height="50"></span>
          Tell us a few details about your collision or near-miss
        </li>
        <li class="front__how-it-works__notify">
          <span class="circled-icon"><img src="/cobrands/smidsy/images/homepage-icon-notify.png" srcset="/cobrands/smidsy/images/homepage-icon-notify@2x.png 2x" alt="" width="50" height="50"></span>
          We notify the council’s&nbsp;highways department
        </li>
        <li class="front__how-it-works__change">
          <span class="circled-icon"><img src="/cobrands/smidsy/images/homepage-icon-change.png" srcset="/cobrands/smidsy/images/homepage-icon-change@2x.png 2x" alt="" width="50" height="50"></span>
          And make statistics available to planners and&nbsp;campaigners
        </li>
      </ul>
    </div>
  </div>

  <div class="front__data">
    <div class="container">
      <h2>Need cycling collision data?</h2>
      <p>Collideoscope is building into a massive nationwide archive of data on cycling collisions and near-misses, which you can use for free.</p>
      <p class="front__data__cta">
        <a href="/reports">Browse and download our data</a>
        <small>for campaigners, cyclists, and road safety experts.</small>
      </p>
      <p>As well as our users’ reports, our statistics and maps also include police STATS19 data, for a comprehensive visualisation of cycling incidents.</p>
    </div>
  </div>

  <div class="front__statistics">
    <div class="container">
      [% INCLUDE 'front/stats.html' %]
    </div>
  </div>

  <div class="front__support">
    <div class="container">
      <div class="smidsy-two-column">
        <div class="front__support__charity">
          <h3>Interested in safer cycling?</h3>
          <p>We’re looking for supporters to help us build Collideoscope to better provide information for the police, highways departments, planning departments, and campaign groups.</p>
          <a href="/about/sponsors" class="front__support__cta">Support us</a>
        </div>
        <div class="front__support__council">
          <h3>Are you from a highways department?</h3>
          <p>Collideoscope is built on the rock-solid FixMyStreet Platform, already trusted by councils all over the UK. We can hook your systems up to Collideoscope, so you never miss an issue.</p>
          <a href="/contact" class="front__support__cta">Contact us</a>
        </div>
      </div>
    </div>
  </div>

  <!-- open a new .container and div for footer.html to close -->
  <div class="container">
    <div>

[% INCLUDE 'footer.html' %]
