[%

color_neutral_slategrey = '#5D696A'
color_neutral_raincloud = '#DCE7E8'
color_primary_blue = '#42a7db'
color_primary_orange = '#E5BB1C'

body_background_color = color_neutral_slategrey
header_background_color = color_neutral_raincloud
secondary_column_background_color = color_neutral_raincloud
button_background_color = color_primary_orange

body_font_family = "Cabin, Arial, sans-serif"

logo_width = "150" # pixel measurement, but without 'px' suffix
logo_height = "30" # pixel measurement, but without 'px' suffix

%]
