[%

email_summary = "Thanks for reporting an incident on " _ site_name;
email_columns = 2;

PROCESS '_email_settings.html';
INCLUDE '_email_top.html';

%]

<th style="[% td_style %][% primary_column_style %]" id="primary_column">
  [% start_padded_box %]
  <h1 style="[% h1_style %]">Your report has been&nbsp;sent</h1>


<p style="[% p_style %]">Thank you for using [% site_name %] to submit your incident report.</p>

<p style="[% p_style %]">This is to confirm that it has now been sent to [% bodies_name %].</p>

<p style="[% p_style %]">Your report has also been published on [% site_name %]:</p>

  <p style="margin: 20px auto; text-align: center">
  <a style="[% button_style %]" href="[% cobrand.base_url_for_report(report) %][% report.url %]">View my report</a>
  </p>

  <h2 style="[% h2_style %]">Next steps</h2>

  [% IF report.extra.severity > 10 %]
    [% police = cobrand.get_police_info(report) %]
    <p style="[% p_style %]"> - We recommend reporting this to the police
    [%~ IF police %] – <a href="[% police.url %]">report to [% police.name %]</a>
    [%~ END %].</p>
  [% END %]
    <p style="[% p_style %]"> - Browse the [% site_name %] map to see if this area is a known hotspot for accidents.</p>
    <p style="[% p_style %]"> - If you’d like to take the matter further, why not use another one of our sites, <a href="https://www.writetothem.com/">WriteToThem.com</a>, to contact your local councillors.</p>
    <p style="[% p_style %]"> - Consider getting in touch with your <a href="https://www.cyclinguk.org/groups-listing">local campaign group</a> to help work towards safer road conditions for cyclists.</p>

  [% end_padded_box %]
</th>
[% WRAPPER '_email_sidebar.html' object = report %]
    <h2 style="[% h2_style %]">[% report.title | html %]</h2>
    <p style="[% secondary_p_style %]">[% report.detail | html %]</p>
[% END %]

[% INCLUDE '_email_bottom.html' %]
