[%

email_summary = "Complete your report on " _ site_name;
email_columns = 1;

PROCESS '_email_settings.html';

h2_style = 'margin: 0 0 15px 0; font-size: 21px; line-height: 26px';
td_number_style = 'padding-right: 10px; font-size: 21px; line-height: 26px; font-weight: bold; vertical-align: top;';

INCLUDE '_email_top.html';

%]

<th style="[% td_style %][% only_column_style %]">
  <h1 style="[% h1_style %]">Thanks for beginning a report on [% site_name %]</h1>
  <p style="[% p_style %]">
    We know it can be stressful dealing with the aftermath of a cycling
    collision or near-miss, so here’s a quick run down of what you should
    do next, in your own time:
  </p>
  <table [% table_reset %]>
    <tr>
      <th style="[% td_style %] [% td_number_style %] padding-top: 10px;">1.</th>
      <th style="[% td_style %] padding-top: 10px;">
        <h2 style="[% h2_style %]">
          Complete your report using this link
        </h2>
        <p style="margin: 15px 0;">
          <a style="[% button_style %]" href="[% token_url %]">Complete report</a>
        </p>
        <p style="[% p_style %]">
            Your report will be sent to the local council, who will often use
            it when planning infrastructure changes and eductional programmes.
            Plus it’ll become part of the public [% site_name %] incident
            dataset, used by planners and campaigners around the UK.
        </p>
      </th>
    </tr>
    <tr>
      <th style="[% td_style %] [% td_number_style %] padding-top: 10px;">2.</th>
      <th style="[% td_style %] padding-top: 10px;">
        <h2 style="[% h2_style %]">
          Report injuries to the Police
        </h2>
        <p style="[% p_style %]">
          If your incident involved a motor vehicle and any sort of injury
          or damage to property, you should also report it to the Police,
          using the link we’ll send to you, once you’ve completed your
          [% site_name %] report.
        </p>
        <p style="[% p_style %]">
          Hopefully the driver of the vehicle will already have reported
          the incident, but if they haven’t, your report will help the
          Police investigate a possible offence under Section 170 of the
          Road Traffic Act.
        </p>
      </th>
    </tr>
  </table>
  <hr style="border: none; border-top: 1px solid #ccc; margin: 20px 0;">
  <p>
    By reporting collisions and near-misses like yours, you’re helping us build
    the evidence base for cycle safety improvements, together. Completing your
    report will only take a few minutes, but will contribute a huge amount to
    our cause:
  </p>
  <p style="margin: 20px 0;">
    <a style="[% button_style %]" href="[% token_url %]">Complete report</a>
  </p>
</th>

[% INCLUDE '_email_bottom.html' %]
