[%

email_summary = "You need to confirm your " _ site_name _ " incident before it can be sent to ${ report.body }.";
email_columns = 2;

PROCESS '_email_settings.html';

INCLUDE '_email_top.html';

%]

<th style="[% td_style %][% primary_column_style %]" id="primary_column">
  [% start_padded_box | safe %]
  <h1 style="[% h1_style %]">Please confirm your&nbsp;incident</h1>
  <p style="[% p_style %]">Click on the link below to confirm your incident.
  </p>
  <p style="[% p_style %]">Your report will appear on the [% site_name %] website and be sent to [% report.body %].</p>
  <p style="margin: 20px auto; text-align: center">
    <a style="[% button_style %]" href="[% token_url %]">Yes, send my report</a>
  </p>
  <p style="[% p_style %]">If you no longer wish to send this report, please take no further action.</p>
  [% end_padded_box | safe %]
</th>
[% WRAPPER '_email_sidebar.html' object = report, url = token_url %]
    <h2 style="[% h2_style %]">[% report.title | html %]</h2>
    <p style="[% secondary_p_style %]">[% report.detail | html %]</p>
[% END %]

[% INCLUDE '_email_bottom.html' %]
